body {
	background-image: linear-gradient(white, #E3E3E3);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
	background-image: linear-gradient(to right, lightgreen, white);
}

.radio {
	border-radius: 50%;
}

p, h5 {
	padding-left: 25px;
}

.nopad {
	padding: 0;
}

label {
	margin-left: 25px;
	margin-right: 25px;
}

nav {
    background-color: #fff;
}

nav ul {
	display: flex;
    flex-flow: row nowrap;
	list-style-type: none;
}

nav a {
	text-decoration: none;
    font-weight: bold;
    color: Black;
    padding: 1rem;
    display: block;
}

nav a:hover {
	color: #19B02A;
    background-color: WhiteSmoke;
}

.active a {
	color: #19B02A;
}

#signup-view-button, #login-view-button, #logout-button {
	display: none;
}

#serverdown-view, #signup-view, #login-view, #app-view {
	display: none;
}